.grid-container {
    grid-template-columns: repeat(2, 1fr);
}

.listingdisplay-holder {
    text-align: center;
    position: relative;
    top: 70px;
    width: 100%;
}

.listingdisplay-body {
    display: inline-block;
    width: 70%;
}

.listingdisplay-body > table {
    width: 100%;
    border-top: 1px solid rgb(180, 180, 180);
    border-bottom: 1px solid rgb(180, 180, 180);
    border-collapse: collapse;
}

.listingdisplay-body > table > tbody {
    padding: 10px;
}

.listingdisplay-body > table td {
    border-left: 1px solid rgb(180, 180, 180);
    border-right: 1px solid rgb(180, 180, 180);
    padding: 10px;
    margin: 10px 0px;
}

.listingdisplay-body > table td:first-child {
    border-left: none;
    border-right: none;
}

.listingdisplay-body > table td:last-child {
    border-left: none;
    border-right: none;
}

.listingdisplay-image-div {
    display: flex;
    flex-direction: row;
}

.listingdisplay-image-left, .listingdisplay-image-right {
    width: 5%;
    max-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listingdisplay-image-left > img, .listingdisplay-image-right > img {
    width: 50%;
}

.listingdisplay-image-holder {
    flex-grow: 1;
    height: 450px;
    text-align: center;
    background-color: rgb(220, 220, 220);
    width: 100%;
}

.listingdisplay-image-holder > img {
    object-fit: contain;
}

.listingdisplay-image-holder > img {
    height: inherit;
    display: none;
}

.listingdisplay-image-holder > img.current {
    height: inherit;
    width: inherit;
    display: inline-block;
}

.listingdisplay-body-header {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 10px;
}

.listingdisplay-body-header > .listingaddressinfo {
    width: 80%;
}

.listingdisplay-body-header > .listingbuybutton {
    width: 20%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.listingdisplay-body-header > .listingbuybutton > button {
    display: block;
    width: 30%;
    margin: auto;
}

.listingdisplay-body-info-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.email-asking-popup-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    background-color: white;
    border-radius: 20px;
    z-index: 2;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-shadow: 0 2px 5px black;
    justify-content: first baseline;
}

.email-asking-popup-div form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 90%;
    width: 100%;
}

.email-asking-popup-div input {
    width: 100%;
    display: block;
    padding: 7.5px 0px;
    border: 1px solid rgb(220, 220, 220);
}

.email-asking-popup-div button {
    all: revert;
    width: auto;
    height: auto;
}

.email-asking-popup-div .submit-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding: 20px 0px;
}

.email-asking-popup-div .close-icon-holder {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-start;
    width: 100%;
    height: 10%;
}

.email-asking-popup-div .close-icon-holder button {
    all: revert;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: none;
    background-color: rgba(0, 255, 255, 0);
    padding: 10px;
}

.email-asking-popup-div .close-icon-holder button img {
    width: inherit;
    display: block;
}